{% extends 'index.html' %}
{% load static %}
{% block title %}Category{% endblock title %}
{% block main-content %}
{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner/b44.jpg' %}" class="d-block w-100" height="200"alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b22.jpg' %}" class="d-block w-100" height="200" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b33.jpg' %}" class="d-block w-100"height="200" alt="...">
    </div>
  </div>
</div>
{% endblock banner_slider %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
  <br>
  <div class="row container">
    <p class="fs-4 text-center">Address :</p>
     <p class="fs-4 text-center">Contact :</p>
     <p class="fs-4 text-center">Email :</p>


  </div>
</div>
<br><br>
{% endblock main-content %}
